{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2020",
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {
      "@shared/*": ["./src/shared/*"],
      "@modules/*": ["./src/modules/*"],
      "@api/*": ["./src/api/*"],
      "@mcp/*": ["./src/mcp/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
